on:
  workflow_call:
    inputs:
      go-version:
        type: string
        required: false
        default: 1.25.5
        description: go version to use for checks
      golangci-lint-version:
        type: string
        required: false
        default: v2.7.2
        description: golangci-lint version to use for lint checks
      lint-command:
        type: string
        required: false
        default: golangci-lint run
        description: custom lint command
      test-command:
        type: string
        required: false
        description: command to run tests, i.e. go test -race ./...
      go-experiment:
        type: string
        required: false
        default: ''
        description: GOEXPERIMENT environment variable for Go commands

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}
      - name: Set up cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up linters and vulnerabilities checkers
        env:
          GOEXPERIMENT: ${{ inputs.go-experiment }}
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b ~/go/bin ${{ inputs.golangci-lint-version }}
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Check out
        uses: actions/checkout@v6
      - name: Lint
        env:
          GOEXPERIMENT: ${{ inputs.go-experiment }}
        run: |
          echo ${GOEXPERIMENT}
          ${{ inputs.lint-command }}
          govulncheck ./...
      - name: Test
        env:
          GOEXPERIMENT: ${{ inputs.go-experiment }}
        if: ${{ inputs.test-command != '' }}
        run: ${{ inputs.test-command }}
